:root{
  --light-blue : #04ffde;
  --light-blue-shadow:  rgba(69, 255, 199, 0.27);
  --sea-green: #0abe70;
  --sea-green-dark: #0cbf4e;
  --sea-green-extra-dark: #08b564;
  --sea-green-shadow: rgba(11, 190, 106, 0.4);
  --header-hamburger-background : rgba(0, 250, 63, 0.419);
  --dark-green: #008d40;
  --green: #25fd00;
  --green-shadow: rgba(34, 245, 23, 0.364);
  --white: #ffffff;
  --black: #333333;
  --disabled-btn: #09be707a;
  --error-message:  #e63333d1;
  --toast-error: #d13030fa;
  --toast-shadow:  #9c9c9ce3;
  --toast-success: #0cbf71;
  --loader-color: #0cbf27
}

/* .App {
  width: 100%;
  height: 100%;
  margin: 0px;
  padding: 0px;
  overflow-x: hidden; 
} */
/* #ff7200  or
  #25fd00

bnt
 background-color: #13410d
 #0d7b0d;
   border: 2px solid #20351f;


  rgba(67, 250, 30, 0.47)
  #203d1d
load */